<div class='profile-wrapper'>
<%= image_tag "fake_user.png",:size =>'150x150' %>
<h1><%= @user.name %>のprofile</h1>
<%= render 'stats' %>

<p>メールアドレス: <%= @user.email %></p>
<p>フォローユーザーの一覧</p>

 <% @user.following.each do |user| %>
<table>
<tr class='follow-layout'>
  <td>  <%= user.name %> </td>
  <td><%= link_to '詳細', user_path(user) %></td>
</tr>
</table>
<% end %>

      
    
<p>フォロワーユーザーの一覧</p>
 <% @user.followers.each do |user| %>
<table>
<tr class='follow-layout'>
  <td>  <%= user.name %> </td>
  <td><%= link_to '詳細', user_path(user) %></td>
</tr>

</table>
<% end %>


<% if @user.id == current_user.id %>
  <div class="start-picture-form">
    <a href=<%= user_path(current_user.id) %>>
      
    </a>
    <a href=<%= new_picture_path %> class="show-picture-form" >
     <input type="text" placeholder="What's on your mind?(New Post)" class="form_control" readonly="true">
    </a>
  </div>
<% end %>
<%= link_to "ブログを新規作成", pictures_path %>
</div>


